@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f8f4f4;
}

.container {
  width: 90%;
  margin: 1rem auto;
}
/*
///////////////////////////////////////////////////////////////////////////////////

                                Nav

//////////////////////////////////////////////////////////////////////////////////
*/
.navigation {
  background-color: #f8a434;
  padding: 1.6rem;
  font-size: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  border-radius: 0.8rem;
  overflow: hidden;
  color: #4a3110;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.logo-image {
  width: 7.2rem;
  height: 7.2rem;
}
.input {
  height: 4rem;
  width: 30em;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: 5px;
  outline: none;
  border: none;
  padding-left: 1.6rem;
  transition: 0.3s all;
  font-size: 1.6rem;
  border-radius: 15px;
  color: #4a3110;
}
.input::placeholder {
  font-size: inherit;
  font-family: "Roboto Condensed", sans-serif;
  color: #4a3110;
}
.input:focus {
  margin-top: -10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.results span {
  font-weight: 600;
}
/*
///////////////////////////////////////////////////////////////////////////////////

                                Main

//////////////////////////////////////////////////////////////////////////////////
*/

.main {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 70%;
  margin: 0 auto;
}
.box {
  height: 70vh;
  width: 60vh;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.2);
  padding: 1.2rem;
  color: #777;
}
/*
///////////////////////////////////////////////////////////////////////////////////

                                Card

//////////////////////////////////////////////////////////////////////////////////
*/
.card {
  display: flex;
  color: black;
  align-items: center;
  gap: 0.8rem;
  transition: 0.3s all;
  border-bottom: 0.1px solid #eee;
  border-top: 0.1px solid #eee;
  margin-bottom: 0.4rem;
}
.card:hover {
  box-shadow: 0 1px 10px 0 #ccc;
  cursor: pointer;
}
.card h3 {
  font-size: 1.8rem;
}
.card span {
  font-size: 1.6rem;
}
.card-left {
  width: 80px;
  height: 80px;
}
.card-left img {
  width: 100%;
  /* margin-bottom: 1.2rem; */
  height: 100%;
}
.card-description {
  display: flex;
  gap: 1.8rem;
  align-items: center;
  position: relative;
}
/*
///////////////////////////////////////////////////////////////////////////////////

                                Stats

//////////////////////////////////////////////////////////////////////////////////
*/
.box:nth-child(1) {
  position: relative;
}
.box:nth-child(2) {
  position: relative;
}
.hide-box-1 {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.hide-box-1:hover {
  cursor: pointer;
}
.hide-box-1 img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.box:nth-child(2) {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0;
}
.stats {
  box-shadow: 0 1px 10px 0 #ccc;
  padding: 1.2rem;
  /* background-color: red; */
  position: relative;
  background-color: #ec9a2f;
  color: #4a3110;
}
.stats h3 {
  text-transform: uppercase;
  margin-bottom: 0.8rem;
}
.stats-calculation {
  display: flex;
  gap: 2.4rem;
}
.hide {
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translateY(-200%);
  right: 20px;
}
.hide:hover {
  cursor: pointer;
}
.hide img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.make-list {
  margin: 1.2rem;
  overflow-x: hidden;
  overflow-y: auto;
}
.close-button {
  position: absolute;
  top: -10px;
  right: -28%;
  width: 20px;
  height: 20px;
}
.close-button img {
  width: 100%;
  height: 100%;
}
.close-button:hover {
  cursor: pointer;
}
/*
///////////////////////////////////////////////////////////////////////////////////

                                Selected Food

//////////////////////////////////////////////////////////////////////////////////
*/
.selected-food {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: auto;
  color: #111;
  gap: 2.4rem;
  position: relative;
}

.food-description {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  gap: 0.8rem;

  box-shadow: 0 1px 10px 0 #ccc;
}

.selected-food-stats {
  display: flex;
  flex-direction: column;
  margin: 2.4rem;
  gap: 1.6rem;
  position: relative;
}

.food-description img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.food-stats-summary {
  font-size: 1.6rem;
}
.food-stats-summary span {
  margin-right: 1.2rem;
}
.food-stats {
  display: grid;
  grid-template-rows: 0.3fr 0.7fr;
  gap: 2rem;
}
.rating {
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}
.food-summary {
  display: flex;
  margin: 0 1.2rem;
  padding: 1.2rem;
  box-shadow: 0 4px 20px 0 #ccc;
}
.back {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  left: 10px;
}
.back:hover {
  cursor: pointer;
}
.back img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.hide-stats {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 15px;
  top: 15px;
  z-index: 10;
}
.hide-stats:hover {
  cursor: pointer;
}
.hide-stats img {
  width: 100%;
  height: 100%;
}

.loading {
  text-align: center;
  margin-top: 50%;
}
